@model MVC.Views.Departement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Departement</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomDep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NumDep }) |
    @Html.ActionLink("Back to List", "Index")
</p>
