@model MVC.Views.Participation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Participation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fonction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fonction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employe.NomE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employe.NomE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projet.NomP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projet.NomP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
