@model MVC.Views.Employe

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employe</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Matr, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Matr)
                @Html.ValidationMessageFor(model => model.Matr)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomE)
                @Html.ValidationMessageFor(model => model.NomE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Post, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Post)
                @Html.ValidationMessageFor(model => model.Post)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateEmb, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateEmb)
                @Html.ValidationMessageFor(model => model.DateEmb)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sup)
                @Html.ValidationMessageFor(model => model.Sup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salaire, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salaire)
                @Html.ValidationMessageFor(model => model.Salaire)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comm)
                @Html.ValidationMessageFor(model => model.Comm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumDep, "NumDep", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NumDep", String.Empty)
                @Html.ValidationMessageFor(model => model.NumDep)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
